.main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    position: relative;
    z-index: 1;
}

.img-container video{
    width:100%;
}
video{
    object-fit: contain;
    z-index: 1;
    max-height:650px;
}
@media (max-width:875px){
    .main{
        min-height: 50vh;
        margin-bottom: 2rem;
        align-items: initial;
    }
}
@media (max-width:575px){
    .main{
        margin-bottom: 2rem;
        min-height: 40vh;
        align-items: initial;
    }
}